* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;    
    font-family: 'Montserrat';

}

html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

:root{
    font-size: 62.5%;
}

.container{
    width: 94rem;    
}

@media (max-width: 980px){
  .container{
    width: 100%;    
  }

    section{
      padding: 0rem;
    }

}