#secondSection{
    background: url(../images/IMG01.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    padding: 0 2rem;
}

.txtBg{
    width: 50%;
    height: 78rem;
    background-color: white;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#secondSection .container{
    margin: auto;
    z-index: 2;
    position: relative;
}


#secondSection .textArea{
    width: 50rem;
    background-color: white;
    height: 78rem;
  
    padding: 2rem ;
}

#secondSection .textArea h1{    
    color: #003049;
    font-size: 5rem;
    font-weight: bold;

    position: relative;
}

#secondSection .textArea h1:before {
    content: "";

    width: 20rem;
    height: 1rem;
    background-color: #fcbf49;

    bottom: -1rem;
    left: 0.2rem;
    position: absolute;
}

#secondSection .textArea p{
    color: #7d7d7d;
    font-size: 2.5rem;

    margin-top: 1.5rem;
}

@media(max-width:850px){
    #secondSection{
        background: white;
    }

    #secondSection .textArea h1:before {
        left: 50%;
        transform: translateX(-50%);
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #secondSection .textArea{
        width: 100%;
        height: max-content;
        margin: auto;

        text-align: center;
    }

    #secondSection .textArea p{
        width: 100%;
        max-width: 68rem;
        margin: auto;
        margin-top: 4rem;
    }

    .txtBg{
        display: none;
    }
}