.seventhSection {
    padding: 3rem;
}

.seventhSection .title{
    width: max-content;

    margin: auto;
    padding-bottom: 1rem;

    position: relative;
  
    color: #003049;
    font-size: 5rem;
    font-weight: bold;
}

.seventhSection .title:before {
    content: "";

    width: 9.8rem;
    height: 1rem;
    background-color: #fcbf49;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.seventhSection .container{
    margin: auto;
    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
}

#map{
    width: 100%;
    height: 36.5rem;
}

.infosContainer{
    display: flex;
    margin-top: 3rem;
}

.p1,.p2{
    height: 32rem;
    max-width: 50rem;

    margin: auto;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.infoTitle{
    margin-bottom: 1rem;

    color: #003049;
    font-size: 2.5rem;
    font-weight: bolder;
}

.infoText{
    color: #464545;
    font-size: 1.7rem;
}

.p1 form{
    display: flex;
    flex-direction: column;
}

.p1 form input{
    width: 39rem;

    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid black;
  
    font-size: 1.7rem;
}

.p1 button{
    width: 39rem;
    background-color: #003049;

    padding: 0.5rem 3rem;
  
    color: #fcbf49;
    font-size: 2rem;
  
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}

.p1 button:hover {
    background-color: #fcbf49;
    color: #003049;
  }

  @media (max-width:680px){
    .infosContainer{
        flex-wrap: wrap;
    }
    .p2{
        margin-top: 2rem;
    }
}

@media (max-width:390px){
    .p1 form,.p1 form input, .p1 form button{
        width: 100%;
    }
}
